<h1>Listing commenters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email address</th>
    <th>Description</th>
    <th>Page</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @commenters.each do |commenter| %>
  <tr>
    <td><%= commenter.name %></td>
    <td><%= commenter.email_address %></td>
    <td><%= commenter.description %></td>
    <td><%= commenter.page_id %></td>
    <td><%= link_to 'Show', commenter %></td>
    <td><%= link_to 'Edit', edit_commenter_path(commenter) %></td>
    <td><%= link_to 'Destroy', commenter, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Commenter', new_commenter_path %>
